<% @students.each do |student| %>
  <p>Student Name: <%= student.pretty_name %></p>
  <p>Age: <%= student.age %></p>
  <p>House: <%= student.house.name %></p>
  <p><a href="/hogwarts/<%=student.id%>">Show Student Details</a></p>
  <hr>
<% end %>
