<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hogwarts</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/hogwarts">Home</a></li>
        <li><a href="/hogwarts/about_us">About Us</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
